   <nav>
        <div>
            <a href="/">Blog App</a>
        </div>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/blog/create">Create a Blog</a> 
                <!-- Till now we dont have this created so when user click on lets redirect to 404 page
                lets create 404.ejs under pages  check index.js -->
            </li>
        </ul>
    </nav>